.intro {
    background-image: url("../../300ppi/Artboard 32.png");
    width: 100%;
    background-size: cover;
}
.img-wrapper {  
    width: 500px;
    height: auto;
    overflow: hidden; 
    margin-top: auto;
}
.inner-img {
    transition: 0.3s;
}
  
.inner-img:hover {
    transform: scale(1.1);
}