.benefit-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../300ppi/Artboard 24.png");
  width: auto;
  height: 100%;
  background-size: cover;
  background-position: 0%;
  background-repeat: repeat;
}
